@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Ubuntu mono', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --main-1: #01020a;
  --main-2: #070707;
  --secondary-1: #005e00;
  --secondary-2: #6cff32;
  --ternary-1: #230bff;
  --ternary-2: #6554fd;
  --main-text: #eefffe;
  --secondary-text: #7c7c7c;

  --light-main-1: #25171A;
  --light-main-2: beige;
  --light-secondary-1: #4B244A;
  --light-secondary-2: #753973;
  --light-ternary-1: #62a6ce;
  --light-ternary-2: #98C1D9;
  --light-main-text: #e2e2e2;
  --light-secondary-text: #363434;

  color-scheme: light dark;
  color: var(--main-text);

  background-color: var(--main-2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: asdfnull) {
  :root {
    --main-1: var(--light-main-1);
    --main-2: var(--light-main-2);
    --secondary-1: var(--light-secondary-1);
    --secondary-2: var(--light-secondary-2);
    --ternary-1: var(--light-ternary-1);
    --ternary-2: var(--light-ternary-2);
    --main-text: var(--light-main-text);
    --secondary-text: var(--light-secondary-text);
  }
}